@using Emarket.Core.Application.ViewModels.Categories;
@model List<CategoryViewModel>


<div class="container-fluid">

    <div class="row">

        <div class="col">
            <h2 class="titulo text-center mb-5 display-2 title"> Lista de Categorias</h2>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-3 offset-9">
            <a asp-controller="Category" asp-action="Create" class="btn boton fw-bold">Crear nueva categoria</a>
        </div>
    </div>

    <div class="row">

        @if (Model.Count() > 0)
        {
            @foreach (CategoryViewModel itemCategory in Model)
            {
                <div class="col-4">
                    <div class="card shadow-lg p-3 mb-5 bg-white rounded">

                        <div class="card-body">
                            <h4 class="card-title">@itemCategory.Name</h4>
                            <p class="card-text">@itemCategory.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@itemCategory.Id" class="btn btn-sm btn-outline-success">Editar</a>
                                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@itemCategory.Id" class="btn btn-sm btn-outline-danger">Borrar</a>
                                </div>

                                <div class="row mr-5">

                                    <small class="fw-bold fs-6">
                                        Cantidad de Anuncios:
                                        <span class="badge bg-primary rounded-pill">@itemCategory.AdvertisementsQuantity</span>
                                    </small>
                                    <small class="fw-bold fs-6">
                                        Cantidad de Usuarios:
                                        <span class="badge bg-primary rounded-pill">@itemCategory.UsersQuantity</span>
                                    </small>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h2>No hay Categorias</h2>
        }

    </div>

</div>