@using Emarket.Core.Application.ViewModels.Advertisements
@model List<AdvertisementViewModel>
@{
    ViewData["Title"] = "Advertisements";
}

<div class="container-fluid">

    <div class="row mb-3">
        <div class="col-3 offset-9">
            <a asp-controller="Advertisement" asp-action="Create" class="btn btn-outline-success">Crear nuevo Anuncio</a>
        </div>
    </div>

    <div class="row">

        @if (Model == null || Model.Count == 0)
        {
            <h3>No hay Anuncios</h3>

        }
        else
        {
            @foreach (AdvertisementViewModel item in Model)
            {
                <div class="col-4">
                    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                        <img class="bd-placeholder-img card-img-top img-product-size" src="@item.ImageUrl" />

                        <div class="card-body">
                            <h4 class="card-title">@item.Name - @item.CategoryName</h4>
                            <p class="card-text">@item.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="Advertisement" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Editar</a>
                                    <a asp-controller="Advertisement" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Borrar</a>
                                </div>
                                <small class="fw-bold fs-6">$@item.Price</small>
                            </div>
                        </div>
                    </div>
                </div>
            }

        }
    </div>

</div>